<header>
    <video poster="/assets/img/manWithPencil.jpg" autoplay loop>
       <source src="/assets/video/workingManWithMAC.mp4" type="video/mp4">
       <source src="/assets/video/workingManWithMAC.webm" type="video/mp4">
    </video>

    <div class="headerContent">
        <div class="logo"><span class="mjText">Mj</span><span class="wText">W</span><span class="eText">e</span>b</div>
        <nav>
            <a href="">About Me</a>
            <a href="">Work</a>
            <a href="">Contact</a>
        </nav>

        <h1>MJ Portfolio</h1>
        <p>Just Web</p>

        <div id="arrow">
            <div class="rectangle"></div>
        </div>
    </div>

</header>
